
<div class="container row m-auto mt-4">
  <div
    class="col-sm-12 col-md-6 col-lg-4 super"
    *ngFor="let product of products; index as i"
  >
    <div class="card" style="width: 18rem">
      <img src="{{ product.img }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p>{{ product.price | currency: "EUR" }}</p>
      </div>
      <ng-template [ngIf]="product.availability == true" [ngIfElse]="none">
        <div id="btns">
          <a routerLink="/products/{{ i }}" class="btn btn-primary mx-5 my-2"
            >Details</a
          >
          <a class="btn btn-danger" (click)="addToCart(product)">Add to cart</a>
        </div>
      </ng-template>
      <ng-template #none>
        <p class="alert">Item not available at the moment.</p></ng-template
      >
    </div>
  </div>
</div>
